@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #cbd5e0; /* Gray */
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light Gray */
}
